.paginator-active button:not(:disabled) {
    background: #C4C4C4 !important;
}

.paginate {
    width: 100%;
    padding: 0;
}

.paginate li {
    list-style: none;
}

.paginate__btn-act {
    width: 37px;
    height: 37px;
    outline: none;
    border: none;
    background: #C4C4C4;
    border-radius: 6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;

    color: #FFFFFF;
}

.paginate__btn {
    width: 37px;
    height: 37px;
    outline: none;
    border: none;
    background: #1679BE;
    border-radius: 6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;

    color: #FFFFFF;
}

.paginate__btn img {
    padding: 0 0 3px;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
    .paginate {
        display: flex;
        justify-content: center;
    }

    .paginate li {}
}

/* @media screen and (min-width: 320px) and (max-width: 360px) {
  
} */