.modal-lg,
.modal-xl {
    max-width: 500px !important;
}

.text__modal {
    font-family: Montserrat,
        serif;
    font-style: normal;
    font-weight: 100;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #fff;
}

.modal-content {
    background-color: #383D45 !important;
    outline: none !important;
}

.modal__button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal__btn {
    background: #0273ba !important;
    outline: none !important;
    border-radius: unset !important;
    border: none !important;
    border-radius: 3px !important;

}

.under__text-modal {}

.under__text {
    width: 121px;
    height: 6px;
    background: #0273BA;
    border-radius: 2px;
    margin-bottom: 10px;
}