.news {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 1rem;
    z-index: 1;
}

.news a {
    text-decoration: none !important;
}

.news-header {
    width: 100%;
    height: auto;
    /* margin-left: 41px; */
    margin-bottom: 47px;
}

.under-test {
    width: 121px;
    height: 6px;
    background: #0273BA;
    border-radius: 2px;
}

.news-cards {
    width: 100%;
    /* margin-left: 40px; */
}

.news-header p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    letter-spacing: -1px;
    color: #080B11;
    margin-bottom: 5px;
}

.news-header span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -1px;
    color: #080B11;
}

.news-header button {
    margin-top: -55px;
    display: block;
    float: right;
    width: 150px;
    height: 40px;
    background: #FFFFFF;
    border: 3px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 11px;
    color: #2B2B2B;
    /* margin-right: 40px; */
}

.news-header button:hover {
    color: #FFFFFF;
    background: #0273BA;
    border: none;
}

.news-header button:hover a {
    color: #FFFFFF;
}


.news-header button a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    text-decoration: none !important;
    color: #2B2B2B;
}

.news-card {
    position: relative;
    padding: 10px;
    width: 100%;
    height: 218px;
    background: #FFFFFF;
    border: 3px solid #E9E9E9 !important;
    box-shadow: none !important;
    border-radius: 14px;
    margin: 0 0 20px 0;
}

.news-dates {
    position: absolute;
    bottom: 0;
    left: 10px;

}

.jVJmF {
    /* width: 99% !important; */
    grid-gap: 17px !important;
}

.wrapper-news-card {
    margin: 0 7px;
}


.news-card img {
    width: 100%;
    height: 200px;
    border-radius: 12px;
}

.news-card h2 {
    max-width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.5px;
    color: #2B2B2B;
    text-align: initial;
}

.news-card span {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 16px;
    color: #2B2B2B;
}

.text__news-t p {
    padding-top: 7px !important;
    font-style: normal;
    font-weight: 500;
    font-size: 15px !important;
    letter-spacing: 0.5px;
    color: #2B2B2B;
}

.news-card .news-dates {
    padding-top: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #2B2B2B;
}

.projects-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0 30px;
}

.projects-inner button {
    display: block;
}

.news-cards .sc-bdVaJa span {
    display: none;
}

@media (max-width: 1920px) {
    .news-card {
        /* margin-bottom: 35px !important; */
        padding: 20px;
        height: 240px;
    }
}

@media (max-width: 1440px) {
    .news-card {
        padding: 20px;
        /* margin-bottom: 35px !important; */
    }
}

@media (max-width: 1024px) {
    .news-card {
        padding: 20px;
        margin-bottom: 35px !important;
    }
}

@media (max-width: 1000px) {
    .projects-inner button {
        display: none;
    }

    .news-cards {
        margin-left: 0;
    }

    .news-header {
        width: 100%;
        height: auto;
        margin-left: 0px;
    }

    .news-header p {
        font-size: 22px;
    }

    .news-header button {
        width: 200px;
        height: 35px;
        font-size: 12px !important;
    }

    .news-card {
        margin-top: 2rem !important;
        width: 100% !important;
        min-height: 200px;
        margin-bottom: 35px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .news-card {
        margin-top: 2rem !important;
        width: 100% !important;
        min-height: 150px !important;
        margin-bottom: 40px !important;
        height: 250px !important;
    }

    .news-card h2 {
        font-size: 17px;
    }
}

/* 
@media (max-width: 768px) {
    .news-card {
        margin-bottom: 35px !important;
    }

    .news-header button {
        display: none;
    }
}

@media (max-width: 800px) {
    .wrapper-news-card {
        margin-left: 10px;
    }

    .news-card {
        margin-top: 2rem !important;
        width: 100% !important;
        min-height: 200px;
        margin-bottom: 35px !important;
        margin-left: -5px;
    }
}

@media (max-width: 767px) {
    .news-card {
        margin-top: 2rem !important;
        width: 100% !important;
        min-height: 300px;
        margin-bottom: 35px !important;
    }
} */

/* @media (max-width: 425px) {
    .news-card {
        margin-top: 2rem !important;
        width: 100% !important;
        min-height: 150px !important;
        margin-bottom: 40px !important;
    }
}

@media (max-width: 375px) {
    .news-card {
        margin-top: 2rem !important;
        width: 100% !important;
        height: 250px !important;
        margin-bottom: 35px !important;
        margin-left: -5px;
    }
} */